services:
  postgres:
    image: postgres:15
    container_name: airflow_postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow:
    image: airflow-spark-etl
    container_name: airflow_webserver
    depends_on:
      - postgres
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__FERNET_KEY: fiFZ_Iv7AxiJA8nm4x0PkxL8bNlE-sqBbstLtT5LtS4=
      AWS_ACCESS_KEY_ID: <SECRET>
      AWS_SECRET_ACCESS_KEY: <SECRET>
      AWS_DEFAULT_REGION: ap-southeast-2

    ports:
      - "8080:8080"
    volumes:
      - airflow_dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - airflow_plugins:/opt/airflow/plugins
    command: ["webserver"]

  airflow_scheduler:
    image: airflow-spark-etl
    container_name: airflow_scheduler
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__FERNET_KEY: fiFZ_Iv7AxiJA8nm4x0PkxL8bNlE-sqBbstLtT5LtS4=
      AWS_ACCESS_KEY_ID: <SECRET>
      AWS_SECRET_ACCESS_KEY: <SECRET>
      AWS_DEFAULT_REGION: ap-southeast-2
    volumes:
      - airflow_dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - airflow_plugins:/opt/airflow/plugins
    command: ["scheduler"]

volumes:
  postgres_data:
  airflow_dags:
  airflow_logs:
  airflow_plugins:
